.title {
  text-align: center;
  font-weight: 400;
}

.spinner {
  height: 25vh;
  width: 25vh;
  text-align: center;
  margin: auto;
}

.energyResults {
  margin: auto;
  width: 50vh;
}

.energyResults span {
  color: red;
}

.calc-header {
  margin-bottom: 30px;
}

.mat-card {
  border: 2px solid #009688;
}

h1,
p {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
