<div fxLayout="row">
  <div fxLayout="column">
    <br />
    <br />
    <h1>Full Season Heat Loss Calculator</h1>
    <p>
      This calculation is designed to take elements and components of your
      building envelope and compare it against the Heating Degree Days of your
      region. HDD are recorded annually and can be averaged out to get a more
      generalized estimate
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="mat-card" fxFlex="80">
    <mat-card-title class="title">Full Season BTU Transfer</mat-card-title>
    <form [formGroup]="fullSeasonForm" (submit)="onSubmit()">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="30px"
        fxLayoutGap.xs="0"
      >
        <div fxLayout="column" fxFlex="40">
          <!-- Square Footage -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Total Square Footage </mat-label>
            <input matInput formControlName="squareFootage" type="number" />
            <mat-error
              *ngIf="
                fullSeasonForm.controls.squareFootage.touched &&
                fullSeasonForm.controls.squareFootage.invalid
              "
            >
              <span
                *ngIf="fullSeasonForm.controls.squareFootage.errors.required"
                >This field is mandatory.</span
              >
            </mat-error>
          </mat-form-field>
          <!-- R VALUE -->
          <mat-form-field appearance="outline">
            <mat-label>R Value of Wall Insulation</mat-label>
            <input matInput type="number" formControlName="rValue" />
          </mat-form-field>
          <!-- Exterior Doors -->
          <mat-form-field appearance="outline">
            <mat-label>Exterior Doors</mat-label>
            <mat-select formControlName="doors">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Number of Windows -->
          <mat-form-field appearance="outline">
            <mat-label>Number of Windows</mat-label>
            <input matInput type="number" formControlName="numberWindows" />
          </mat-form-field>
          <!-- Square Footage of Windows -->
          <mat-form-field appearance="outline">
            <mat-label>Square Footage of Windows (including frame)</mat-label>
            <input matInput type="number" formControlName="sqftWindows" />
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="40">
          <!-- Type Of Windows -->
          <mat-form-field appearance="outline">
            <mat-label>Type of Window</mat-label>
            <mat-select formControlName="windowType">
              <mat-option value=".9">Old Single Pane Wooden Frame</mat-option>
              <mat-option value="0.8"
                >Old Double Pane Aluminum Frame</mat-option
              >
              <mat-option value="0.7">Old Double Pane Woode Frame</mat-option>
              <mat-option value="0.6">Old Vynl Frame Double Pane</mat-option>
              <mat-option value="0.5"
                >Double Pane Vinyl (Average Quality)</mat-option
              >
              <mat-option value="0.5"
                >New Thermally Broken Double Pane Aluminum</mat-option
              >
              <mat-option value="0.3"
                >Brand New Premium Vinyl Double Pane</mat-option
              >
              <mat-option value="0.33"
                >Brand New Premium Wooden Frame Double Pane</mat-option
              >
              <mat-option value="0.2"
                >Top Of The Line Triple Pane Premium Vinyl</mat-option
              >
            </mat-select>
          </mat-form-field>
          <!-- Heating Source -->
          <mat-form-field appearance="outline">
            <mat-label>Heating Source</mat-label>
            <mat-select formControlName="heatSource">
              <mat-option value="electric"
                >Electric Resistance / Baseboard</mat-option
              >
              <mat-option value="heatPump">Heat Pump</mat-option>
              <mat-option value="gas">Natural Gas</mat-option>
              <mat-option value="oil">Oil</mat-option>
              <mat-option value="propane">Propane</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Heating Degree Days -->
          <mat-form-field appearance="outline">
            <mat-label>Heating Degree Days</mat-label>
            <input matInput type="number" formControlName="heatingDD" />
          </mat-form-field>
          <!-- Cooling Degree Days -->
          <mat-form-field appearance="outline">
            <mat-label>Cooling Degree Days</mat-label>
            <input matInput type="number" formControlName="coolingDD" />
          </mat-form-field>
          <!-- KwH -->
          <mat-form-field appearance="outline">
            <mat-label>Electricity Price</mat-label>
            <input matInput type="number" formControlName="kwh" />
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <button mat-raised-button color="primary" type="submit">
          Run Calculation
        </button>
      </div>
    </form>
  </mat-card>
</div>
