form button {
  margin: 5px;
}

.energyResults h4,
.energyResults span {
  color: red;
}

h2 {
  text-align: center;
}

.button-box {
  text-align: center;
}

.form-container {
  min-width: 350px;
  margin: 0px;
}
