.energyResults h4,
.energyResults span {
  color: red;
}

.sample-form {
  height: 500px;
}

h2 {
  text-align: center;
}

.button-box {
  text-align: center;
  margin-top: 5px;
}

button {
  margin: 10px;
  margin-bottom: 0px;
  width: 120px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
