.main-container {
  margin-top: 50px;
  text-align: center;
}

.form-container {
  background-color: white;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  /* border-style: solid;
  border-width: 3px;
  border-color: #ffbf00; */
  border: 3px solid #009688;
  border-radius: 10px;
}

.help-button {
  top: auto !important;
  right: 20px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}
