<div class="container">
  <mat-card>
    <mat-card-title>Full Season Heat Loss Calculator</mat-card-title>
    <button mat-fab color="primary" (click)="openModal()">Open</button>
  </mat-card>
  <mat-card>
    <mat-card-title>R Value Based Heat Loss</mat-card-title>
    <button mat-fab color="primary" (click)="openModal()">Open</button>
  </mat-card>
  <mat-card>
    <mat-card-title>Window Payback Calculator</mat-card-title>
    <button mat-fab color="primary" (click)="openModal()">Open</button>
  </mat-card>
  <mat-card>
    <mat-card-title>MANUAL J</mat-card-title>
    <button mat-fab color="primary" (click)="openModal()">Open</button>
  </mat-card>
  <mat-card>
    <mat-card-title>Window Air Conditioner Sizing</mat-card-title>
    <button mat-fab color="primary" (click)="openModal()">Open</button>
  </mat-card>
</div>
