<div class="container">
  <h1><mat-icon>calculate</mat-icon>Energy Calculators</h1>
  <hr />
  <mat-nav-list>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a routerLink="full-season">Full Season Heat Loss Calculator</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a routerLink="window-payback">Window Payback Calculator</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a (click)="openModal()">R Value Heat Transfer Calculator</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <a (click)="openModal()">BTU load per room calculator</a>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <hr />
  <div class="calculations-container">
    <router-outlet></router-outlet>
  </div>
</div>
