<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Control Panel</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" (click)="isLoggedin()"
        >Dashboard</a
      >
      <a mat-list-item [routerLink]="['/register-home']" (click)="isLoggedin()"
        >Your Home Statistics</a
      >
      <a mat-list-item [routerLink]="['/calculate']" (click)="isLoggedin()"
        >Calculate</a
      >
      <a
        *ngIf="this.authService.isLoggedIn"
        mat-list-item
        [routerLink]="['/sign-in']"
        (click)="this.authService.SignOut()"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon" class="hamburger"
          >menu</mat-icon
        >
      </button>
      <div class="title">
        <a [routerLink]="['/sign-in']">Smarter Home</a
        ><mat-icon>roofing</mat-icon>
      </div>
      <!-- <div *ngIf="showCheckMark">
        <mat-icon>check_circle</mat-icon>
      </div> -->
      <div *ngIf="authService.userData as user" class="img-box">
        <img
          class="nav-img"
          src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
          alt="{{ user.displayName }}"
        />
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
