.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000000;
}

.title {
  text-align: center;
  margin: auto;
}

.title a {
  text-decoration: none;
  color: #ffff;
  font-size: 30px;
}

/* mat-icon {
  width: 48px;
  margin-left: 10px;
} */

.nav-img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.img-box {
  margin-top: 6px;
}
