<div class="landing-container">
  <div class="landing-overlay">
    <div class="button-box">
      <div class="mat-headline" *ngIf="!authService.isLoggedIn">
        Improve your home with DATA
      </div>
      <div class="mat-headline" *ngIf="authService.isLoggedIn">
        Organize Home Data. Track Statistics. Calculate Accordingly.
      </div>
      <div class="isLoggedOut" *ngIf="!authService.isLoggedIn">
        <a (click)="openModal()">Sample Calculator</a>
        <p>|</p>
        <a (click)="signInRedirect()">Sign In With Google</a>
      </div>
      <div class="isLoggedIn" *ngIf="authService.isLoggedIn">
        <a color="accent" [routerLink]="['/calculate']">Calculators</a>
        <p>|</p>
        <a color="accent" [routerLink]="['/register-home']">Register Home</a>
        <p>|</p>
        <a color="accent" [routerLink]="['/dashboard']">Dashboard</a>
        <p>|</p>
        <a color="accent" (click)="authService.SignOut()">Logout</a>
      </div>
    </div>
  </div>
</div>
