<div class="landing-container">
  <div class="landing-overlay">
    <div class="button-box">
      <div class="mat-headline">Improve your home with DATA</div>
      <a mat-raised-button (click)="openModal()">Sample Calculator</a>
      <a
        *ngIf="!isLoggedIn"
        mat-raised-button
        color="accent"
        (click)="signInRedirect()"
        >Sign In With Google</a
      >
      <a
        *ngIf="isLoggedIn"
        mat-raised-button
        color="accent"
        (click)="authService.SignOut()"
        >Logout</a
      >
    </div>
  </div>
</div>
