<div class="dashboard-container" *ngIf="authService.userData as user">
  <div class="info-box">
    <div class="contact-section">
      <img
        class="thumbnail-img"
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <h1>
        Hello:
        <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
      </h1>
      <p>
        User ID: <strong>{{ user.uid }}</strong>
      </p>
      <p>
        Email: <strong>{{ user.email }}</strong>
      </p>
      <p>
        Email Verified: <strong>{{ user.emailVerified }}</strong>
      </p>
    </div>
    <div class="percentage-section">
      <h2>Efficiency Rating</h2>
      <div class="c100 p34 center">
        <span>34%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- test box -->
  <div *ngIf="fetchedHomeData">
    <mat-card>
      <h1>{{ fetchedHomeData[0].houseName }}</h1>
      <h2>{{ fetchedHomeData[0].yearBuilt }}</h2>
      <h2>{{ fetchedHomeData[0].numberWindows }}</h2>
      <h2>{{ fetchedHomeData[0].sqftWindows }}</h2>
      <h2>{{ fetchedHomeData[0].rValue }}</h2>
      <h2>{{ fetchedHomeData[0].stories }}</h2>
      <h2>{{ fetchedHomeData[0].heatSource }}</h2>
      <h2>{{ fetchedHomeData[0].heatingDD }}</h2>
      <h2>{{ fetchedHomeData[0].coolingDD }}</h2>
      <h2>{{ fetchedHomeData[0].windowType }}</h2>
    </mat-card>
  </div>
  <!-- Table -->
  <button mat-fab color="accent" (click)="openLogoutModal()">
    <mat-icon>help</mat-icon>
  </button>
</div>
