<div class="row" *ngIf="authService.userData as user">
  <div class="dashboard-container">
    <div class="media">
      <img
        class="thumbnail-img"
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <div class="media-body">
        <h1>
          Hello:
          <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
        </h1>
        <p>
          User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
          Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
          Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
      </div>
    </div>
  </div>
  <a
    mat-fab
    color="accent"
    class="logout-button"
    (click)="openLogoutModal()"
  >
    <mat-icon>clear</mat-icon>
  </a>
</div>
