<div><h1>DASHBOARD</h1></div>
<div class="dashboard-container" *ngIf="authService.userData as user">
  <div class="info-box">
    <div class="contact-section">
      <img
        class="thumbnail-img"
        src="{{ user.photoURL ? user.photoURL : '/assets/dummy-user.png' }}"
        alt="{{ user.displayName }}"
      />
      <h1>
        Hello:
        <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
      </h1>
      <p>
        User ID: <strong>{{ user.uid }}</strong>
      </p>
      <p>
        Email: <strong>{{ user.email }}</strong>
      </p>
    </div>
    <div class="percentage-section">
      <h2>Efficiency Rating</h2>
      <div class="c100 p34 center">
        <span>34%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- test box -->
  <mat-card *ngFor="let home of fetchedHomeData" class="card">
    <h1>Residence Name: {{ home.houseName }}</h1>
    <h3>
      Year Built: {{ home.yearBuilt }}
      <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
    </h3>
    <h3>
      Insulation R Value: {{ home.rValue }}
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </h3>
    <h3>
      Number of Windows: {{ home.numberWindows }}
      <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
    </h3>
    <h3>
      Square Footage of Windows: {{ home.sqftWindows }}
      <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </h3>
    <h3>
      Window Construction: {{ home.windowType }}
      <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </h3>
    <h3>
      Levels / Stories: {{ home.stories }}
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </h3>
    <h3>
      Heat Source: {{ home.heatSource }}
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </h3>
    <h3>
      Heating Degree Days: {{ home.heatingDD }}
      <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
    </h3>
    <h3>
      Cooling Degree Days: {{ home.coolingDD }}
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </h3>
  </mat-card>
</div>
